/* impostazini generali */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* impostazioni container */
#container{
  width: 90%;
  margin: 30px auto;
  /* debug */
  /* height: 200px;
  background-color: red; */
  /* fine debug */
}

/* impostazioni blocchi int. container */

header{
  /* debug */
  height: 100px;
  background-color: blue;
  /* fine debug */
}

main{
  margin: 10px 0;
  /* debug */
  /* height: 200px;
  background-color: green; */
  /* fine debug */
}

main::after{
  content: '';
  display: table;
  clear: both;
}

aside{
  width: 20%;
  float: left;
  /* debug */
  /* background-color: #9932CC;
  height: 100px; */
    /* fine debug */
}

#left-column{
  height: 100px;
  background-color: #8B008B;
}

.rett-destra{
  height: 80px;
  background-color: purple;
  margin-bottom: 10px;
}

section{
  background-color: #9400D3;
  width: 50%;
  float: left;
  margin: 0 5%;
  height: 200px;
}


footer{
  height: 100px;
  background-color: yellow;
}
