/* impostazini generali */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* impostazioni container */
#container{
  width: 90%;
  margin: 30px auto;
  /* debug */
  height: 200px;
  background-color: red;
  /* fine debug */
}

/* impostazioni blocchi int. container */

header{
  /* debug */
  height: 200px;
  background-color: blue;
  /* fine debug */
}

main{
  /* debug */
  height: 200px;
  background-color: green;
  /* fine debug */
}

main::after{
  content: '';
  display: table;
  clear: both;
}

aside{
  background-color: #9932CC;
  width: 20%;
  float: left;
  /* debug */
  height: 200px;
    /* fine debug */
}

section{
  background-color: #9400D3;
  width: 50%;
  float: left;
  margin: 0 5%;
  /* debug */
  height: 200px;
    /* fine debug */
}


footer{
  /* debug */
  height: 200px;
  background-color: yellow;
  /* fine debug */
}
